<div class="card p-5">
    <form #f="ngForm">
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label"> Nombre: </label>
            <div class="col-sm-10">
                <input type="text" name="nombre" [(ngModel)]="producto.nombre" required />
            </div>
        </div>
        <div class="mb-3 row">
            <label>Descripcion: </label>
            <textarea name="descripcion" [(ngModel)]="producto.descripcion" required></textarea>
        </div>
        <div class="mb-3 row">
            <label>Precio: </label>
            <input type="number" name="precio" [(ngModel)]="producto.precio" required />
        </div>
        <div>
            <label>Unidades: </label>
            <input type="number" name="unidades" [(ngModel)]="producto.unidades" required />
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Imagen: </label>
            <div class="col-sm-7">
                <input type="file" class="form-control" name="imagenes" (change)="onFileChange($event)" multiple />
            </div>
            <div class="col-sm-3">
                <button type="submit" [disabled]="archivos == null" class="btn btn-primary" (click)="subirImagenes()">
                    <i class="fa-solid fa-cloud-arrow-up me-2"></i>Subir imágenes
                </button>
            </div>
        </div>
        <div>
            <label>Categoría: </label>
            <!--
            <select name="categoria" [(ngModel)]="producto.categoria" required>
                <option value="" selected>Seleccione una categoría</option>
                <option [value]="i+1" *ngFor="let item of categorias; index as i">{{item}}</option>
            </select>
            -->
            <div *ngFor="let item of categorias; index as i">
                <input type="checkbox" (change)="onCheckboxChange($event, item)" [checked]="categoriasSeleccionadas.includes(item)"> {{item}}
            </div>
        </div>
        <button type="submit" [disabled]="f.invalid" class="btn btn-primary" (click)="actualizarProducto()"> Actualizar Producto
        </button>
    </form>
</div>
